.container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 100px 100px 100px 100px;
  min-height: 100vh;
  gap: 16px;
}

header {
  grid-column: 1 / span 4; /* Sträcker sig över båda kolumner */
  grid-row: 1;
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI", Arial, sans-serif;
  color:#4f4e4e ;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  /* text-shadow: 2px 2px 8px #222, 0 1px 0 #fff; */
  font-weight: bold;
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 4; /* Sträcker sig över rad 2 och 3 */
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 4; /* Sträcker sig över rad 2 och 3 */
}

footer {
  grid-column: 1 / span 2;
  grid-row: 4 / 5;
}